html {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}
body {
    margin: 5em;
    padding: 2em;
    background: #fff;
    box-shadow: 0 0 8px #777;
}
a {
    color: #DC143C;
}
p {
    line-height: 2em;
    font-size: 16px;
}
#TOC {
    line-height: 1.5em;
}
#TOC > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#TOC a {
    color: #000;
}
#TOC a[href="#data-visualization-examples"] {
    font-size: 36px;
    line-height: 60px;
    font-weight: bold;
    text-decoration: none;
    background: #DC143C;
    color: #fff;
    padding: 10px 36px;
    display: inline-block;
    margin-top: .6em;
    margin-bottom: .5em;
}
h2 {
    padding: 24px;
    background: #DC143C;
    color: #fff;
}
h3 {
    padding: 16px 24px;
    font-size: 16px;
    color: #DC143C;
    border-top: 1px solid #DC143C;
    border-bottom: 1px solid #DC143C;
}
p, figure {
    margin-left: 4em;
}
img {
    max-width: 100%;
}
figcaption {
    font-size: 12px;
    text-align: right;
}
h1 {
    display: none;
}
.footnotes {
    font-size: 12px;
}
.footnotes p {
    font-size: 12px;
    word-wrap:break-word;
}